<footer class="footer">
  <div class="footer-container">
    <p>© {{ currentYear }} Emre Kilic</p>

    <div class="footer-links">
      <a
        href="https://github.com/emrklc04"
        target="_blank"
        rel="noopener noreferrer"
      >
        GitHub
      </a>

      <a href="mailto:kilicemre004@gmail.com">
        E-Mail
      </a>

      <a routerLink="/impressum">
        Impressum
      </a>

      <a routerLink="/datenschutz">
        Datenschutz
      </a>
    </div>
  </div>
</footer>
